/* Write your CSS here */
.page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-head {
  color: white;
  font-family: 'roboto';
  font-size: 23px;
}
